@import "./../variables";
@import "./../Mixin.scss";

.about-div-bg {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

    .about-container {
        width: 800px;
        height: 350px;
        background: $div-bg;
        display: flex;
        border-radius: 0.5rem;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

        .about-sec-one {
            flex: 1;
            border-right: 1px solid rgba(102, 102, 102, 0.568);
            // background: $bg;
            padding: 1rem 0.8rem;

            .about-sec-one,
            h5 {
                margin: 0 0.5rem;
                cursor: pointer;
            }

            .about-list {
                margin: 1rem 0;
                height: 30px;
                cursor: pointer;
                display: flex;
                align-items: center;
                border-radius: 0.3em;
                padding: 0 0.5rem;

                &:hover {
                    background-color: $bg;
                }
            }
        }

        .about-sec-two {
            flex: 2;
            padding: 1rem 0.8rem;

            .sec-two-list {
                display: flex;
                align-items: center;
                height: 50px;
                // background: red;
                .about-s-two-icon {
                    font-size: 26px;
                    margin-right: 1rem;
                }

                .about-s-two-text {
                 
                }
                .about-opstion{
                    flex: 1;
                    display: flex;
                    justify-content: end;
                    .about-postion-icon{
                        font-size: 20px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}



@include tab{
    .about-container {
        height: auto !important;
        flex-direction: column;
    }
    .about-sec-one {
        border-right: none !important;
        border-bottom:  1px solid rgba(102, 102, 102, 0.568);
    }
    .about-s-two-text {
     width: 280px;            
    }
    .about-opstion{
        margin-left: 1.5rem !important;
    }
}
@include mobile{
    .about-s-two-text {
        width: 100% !important;            
       }
    .about-opstion{
        flex: 0 !important;
    }
    .about-container {
        width: 100%;
        flex-direction: column;
    }
    .about-opstion{
        margin-left: 1rem !important;
    }
    .earth{
        display: none;
    }
}